.signInBtn, .cookieBtn {
  color: white;
  background-color: crimson;
  border: 0;
  padding: 12px 70px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}
  
.cookieBanner {
  width: 500px;
  font-family: 'Courier New', Courier, monospace;
}